In [1]:
import pandas as pd
# Membuat dataframe dari data yang disalin ke clipboard
df = pd.read_clipboard()
print(df)

         Nama Gender  Angkatan  Tinggi
0        Dony      L      2023     100
1     Bambang      L      2023     101
2       Rehan      L      2023     102
3      Rayyan      L      2023     103
4     Dewanto      L      2023     104
5       Felix      L      2023     105
6        Adit      L      2023     106
7   Kurniawan      L      2023     107
8        Bayu      L      2023     108
9        Udin      L      2023     109
10      Ahmad      L      2023     110
11     Badrun      L      2023     111
12       Puki      L      2023     112
13        Nen      L      2023     113
14      Supri      L      2023     114
15     Adrian      L      2023     115
16      Sapri      L      2023     116
17       Lulu      L      2023     117
18      Cucok      L      2023     118
19       Lola      L      2023     119

In [3]:
print(df.dtypes)

Nama        object
Gender      object
Angkatan     int64
Tinggi       int64
dtype: object

In [7]:
df['Tinggi'] = df['Tinggi'].astype(str)

In [8]:
print(df.dtypes)

Nama        object
Gender      object
Angkatan     int64
Tinggi      object
dtype: object

In [12]:
df = pd.read_csv("Documents/Tugas/prakstatistika1/prakstatistika1.csv")
df

         Nama Gender  Angkatan  Tinggi
0        Dony      L      2023     100
1     Bambang      L      2023     101
2       Rehan      L      2023     102
3      Rayyan      L      2023     103
4     Dewanto      L      2023     104
5       Felix      L      2023     105
6        Adit      L      2023     106
7   Kurniawan      L      2023     107
8        Bayu      L      2023     108
9        Udin      L      2023     109
10      Ahmad      L      2023     110
11     Badrun      L      2023     111
12       Puki      L      2023     112
13        Nen      L      2023     113
14      Supri      L      2023     114
15     Adrian      L      2023     115
16      Sapri      L      2023     116
17       Lulu      L      2023     117
18      Cucok      L      2023     118
19       Lola      L      2023     119
20     Bujang      L      2023     120
21      Bajai      L      2023     121
22        Dul      L      2023     122
23       Budi      L      2023     123
24     Badrul      L      2023     124
25      Pupey      L      2023     125
26      Salim      L      2023     126
27      Salam      L      2023     127
28   Sudirman      L      2023     128
29      Salur      L      2023     129

In [15]:
df = pd.read_excel("Documents/Tugas/prakstatistika1/prakstatistika1.xlsx")
df

         Nama Gender  Angkatan  Tinggi
0        Dony      L      2023     100
1     Bambang      L      2023     101
2       Rehan      L      2023     102
3      Rayyan      L      2023     103
4     Dewanto      L      2023     104
5       Felix      L      2023     105
6        Adit      L      2023     106
7   Kurniawan      L      2023     107
8        Bayu      L      2023     108
9        Udin      L      2023     109
10      Ahmad      L      2023     110
11     Badrun      L      2023     111
12       Puki      L      2023     112
13        Nen      L      2023     113
14      Supri      L      2023     114
15     Adrian      L      2023     115
16      Sapri      L      2023     116
17       Lulu      L      2023     117
18      Cucok      L      2023     118
19       Lola      L      2023     119
20     Bujang      L      2023     120
21      Bajai      L      2023     121
22        Dul      L      2023     122
23       Budi      L      2023     123
24     Badrul      L      2023     124
25      Pupey      L      2023     125
26      Salim      L      2023     126
27      Salam      L      2023     127
28   Sudirman      L      2023     128
29      Salur      L      2023     129

In [23]:
data_nama = pd.read_csv("Documents/Tugas/prakstatistika1/prakstatistika1.csv")
data_nama

         Nama Gender  Angkatan  Tinggi
0        Dony      L      2023     100
1     Bambang      L      2023     101
2       Rehan      L      2023     102
3      Rayyan      L      2023     103
4     Dewanto      L      2023     104
5       Felix      L      2023     105
6        Adit      L      2023     106
7   Kurniawan      L      2023     107
8        Bayu      L      2023     108
9        Udin      L      2023     109
10      Ahmad      L      2023     110
11     Badrun      L      2023     111
12       Puki      L      2023     112
13        Nen      L      2023     113
14      Supri      L      2023     114
15     Adrian      L      2023     115
16      Sapri      L      2023     116
17       Lulu      L      2023     117
18      Cucok      L      2023     118
19       Lola      L      2023     119
20     Bujang      L      2023     120
21      Bajai      L      2023     121
22        Dul      L      2023     122
23       Budi      L      2023     123
24     Badrul      L      2023     124
25      Pupey      L      2023     125
26      Salim      L      2023     126
27      Salam      L      2023     127
28   Sudirman      L      2023     128
29      Salur      L      2023     129